* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI";
    background-color: #FCFCFC;
}

header {
    color: White;
    font-weight: bold;
    font-size: 3vmin;
    padding: 2%;
    background-color: #360185;
}

h1 {
    color: #360185;
    text-align: center;
    font-size: 7vmin;
    padding-top: 3%;
}

#nav {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-button {
    font-size: 3vmin;
    color: white;

    border: none;
    border-radius: 0.2rem;
    padding: 1% 10%;
    margin: 2% 0.5%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    background-color: #8F0177;
    cursor: pointer;
}

#inputs{
    width: 50vw;
    height: 50vh;
    margin: auto;
}

.upload-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 2vmin;
    color: white;

    border: none;
    border-radius: 0.2rem;
    width: 100%;
    height: 5vh;

    margin: 0.6% 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    background-color: #DE1A58;
    cursor: pointer;
}

.image-scroll{
    display: none;
}

.image-scroll.show{
    display: block;
    overflow: scroll;
    width: 52vw;
    height: 25vh;

    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.upload-placeholder{
    display: none;
}

.upload-placeholder.show {
    display: block;
    height: auto;
    width: auto;
}


#lsb-slider {

    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 0.98vw;

    margin: 2vh 0;
}

#lsb-slider p {
    font-size: 1.7vh;
    color: #360185;
    font-weight: bold;
}

.input-slider {
    accent-color: #F4B342;
    height: 1vh;
    width: 40%;
    border-radius: 0.8rem;
    outline: none;
}

.input-text {
    font-size: 1.5vh;
    border-color: #360185;
    width: 34%;
    height: 4vh;
    border-radius: 1rem;
    padding: 0 1%;
    outline: none;
}

#submit {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#submit button {
    font-size: 2vh;
    color: white;

    border: none;
    border-radius: 0.2rem;

    width: 15%;
    height: 5vh;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    background-color: #F4B342;
    cursor: pointer;
    pointer-events: auto;
}

#submit button.empty.submit-button{
    color: white;
    background-color: rgba(196, 143, 52, 0.808);
    pointer-events: none;
}